# Impedir indexação por buscadores
Header always set X-Robots-Tag "noindex, nofollow, noarchive, nosnippet"

# Impedir que o site apareça em cache
Header always set Cache-Control "no-cache, no-store, must-revalidate, private"
Header always set Pragma "no-cache"
Header always set Expires "0"

# Remover headers que podem expor informações
Header always unset Server
Header always unset X-Powered-By

# Adicionar header de segurança
Header always set X-Frame-Options "DENY"
Header always set X-Content-Type-Options "nosniff"
